.login-container {
    background: url('https://images.unsplash.com/photo-1503945438517-a1d3faa680e7?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MXw2MDA4NHwwfDF8c2VhcmNofDF8fHdvcmtzcGFjZXxlbnwwfHx8&ixlib=rb-1.2.1&q=80&w=4000') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .login-form {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 40px 60px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    max-width: 90%;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  